html{height:100%}
body {
  margin: 0px;
  padding: 0px;
  background: #efefef;
}

* {
  margin: 0 auto;
  padding: 0;
}

div {
  box-sizing: border-box
}

.navs > h2 {
  color:#efefef;
}

.header {
  padding:1%;
  height: 70px;
  border: 1px solid #efefef;
  overflow: hidden;
  background-color: #333;
}

img {
  max-width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}


.hero-bg {
  /* background-image: url("./image/Salad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:500px;
   */
}

.search {
  margin-top: 5%;
}

.hit {
  background:black;
  background-repeat:no-repeat;
  border:2px solid white;
  cursor:pointer;
  color: #efefef;
  border-radius: 0;
}

.Enter{
  border:2px solid white;
  background:#efefef;
}
.hit:hover {
  background:#efefef;
  color: black;
  border:2px solid #fff;
}
 
.About{
  text-align: center;
  margin-top: 50px;
}
#note2{
  font-size: 28px;
}

.hero-bg h1, h5 > i {
  font-weight:bold;
  color:#efefef;
  border-bottom: 0;
  text-align: center;
  text-shadow: 3px 3px 8px black;
  
}
.hero-bg h1 {
  font-size: 50px;
}

.hero-bg h5 {

  font-size: 15px;
}

.main {
  margin-top: 30px;
}

.oats > img {
  width: 100%;
}

.oats1 > img {
  width: 80%;
}

.profile1 {
 margin-top:2%
}

.one{
  text-align: center;
  padding-bottom: 20px;
}

.one #title {
  font-size: 36px;
  line-height: .8rem;
  font-weight: bold;
   color: #222;
  padding-left: 5px;
  margin-bottom: 5%;
}

.one h1 {
  font-size:44px;
  line-height: 1.4;
  font-weight: bold;
  color: #222;
}

.one h6 {
  color:#acacac;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: .8rem;
}

#note {
  color: #444;
  font-size:16px;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
}

.readmore {
  background: white;
  border-radius: 3px;
  padding: 10px 30px;
  border: 1px solid #000;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
}

.readmore:hover {
  background: black;
  color: white;
}

.top-items {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.rated {
  width: 380px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1)
}

.imgholder {
  height: 250px;
}

.imgholder > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.top{
  padding-bottom: 50px;
}


.des {
  padding: 30px;
}

.des h2 {
  color: orange;
}

.des > div {
  line-height: 1.4rem;
  font-size: 14px;
  color: #878787;
}

.itemReview {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 5px;
}
.picIcon{
  margin-bottom:30px;
  opacity: 0.6;
}

.recipe-by {
  height: 50px;
  text-align: left;
  color: #c9c9c9
}

.recipe-by strong {
  color: orange;
}

.icons {
  display: block;
  margin-top: 10px;
  color: black;
}

.icons .fa-heart{
  color: orange;
}

.icons .fa-thumbs-up{
  color: green;
}

.icons .fa-thumbs-down{
  color: red;
}

.icons .fa-eye{
  color: skyblue;
}

.main-aside {
  height: 200px;
  text-align: center;

}

.MyPicture > img {
  
  border-radius: 50%;
  height: 140px;
  width: 140px;
  border:0;
  vertical-align: middle;
  margin: 0 0 10px 15px;
  opacity:0.3;

}

#profile {
  margin: 0 0 0 20px;
  font-family: 'century gothic', arial;
  font-weight: bold;
  padding-bottom: 1px;
}

#profile-header {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

#title2  {
  font-size: 20px;
  line-height: .8rem;
  font-weight: bold;
  padding: 0 0 20px 20px;
  color: #222;
}

.sept {
  color:#acacac;
  font-weight: bold;
  margin: 0 0 0 15px;
  letter-spacing: 1px;
  font-size: .8rem;
}

.latest {
  color:#acacac;
  font-weight: bold;
  margin: 0 20px 0 11px;
  letter-spacing: 1px;
  font-size: .8rem;
}


#title3  {
  font-size: 20px;
  line-height: .8rem;
  font-weight: bold;
  padding: 25px 0 8px 70px;
  color: #222;
  
}

#title5 {
  font-size: 20px;
  line-height: .8rem;
  font-weight: bold;
  padding: 25px 0 8px 120px;
  color: #222;
  
}

#note3, #note4 {
  margin: 0 0 0 30px;
}
#title4  {
  padding-top: 40px;
  font-size: 35px;
  line-height: .8rem;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: #222;

}

.container-fluid {
  padding: 0px;
}

.footer {
  padding: 15px 0px;
  background: black;
  text-align: center;
  border-top: 1px solid #efefef;
  color:peachpuff ;  
  letter-spacing: 0.1em;
  line-height:1.5;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top:50px;
  
}

.footer1 {
  padding: 15px 0px;
  background: black;
  text-align: center;
  border-top: 1px solid #efefef;
  color:peachpuff ;  
  letter-spacing: 0.1em;
  line-height:1.5;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top:3px;
  
}

p{
  margin: 10px 0;
}

.love{
  color:white;
}

@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

#review{
  margin-left: 20px;
  box-shadow: 0 2px 0 #e6e6e6;
  height: 40px;
  padding-left: 10px;
  width: 650px;
  height: 200px;
  }
  #reviewSubmit{
  margin-left: 20px;
  width: 250px;
  height: 55px;
  color: white;
  font-size: 20px;
  background-color: #2c95dc;
  box-shadow: 0 3px 0 #09466f;
  margin-bottom: 30px;
  padding-left: 20px;
  border-radius: 5px;
  }
  #reviewSubmit:hover {
  background-color: #09466f;
  
  }
    
  input{
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
.user-details{
 margin-left: -3.8em;
}
.user-details, input{
   width: 70%;
}

.form-signin-heading {
  margin-top: 5px;
}

.manage{
  margin-top:15px;
  margin-bottom: 15px;
}

.user-details label textarea {
   height: 100%;
   margin-bottom: 1rem;
   resize: none !important;
}

.user-details textarea {
  border: 2px solid black;
  padding: .5rem;
  border-radius: 5px;
  width: 100%;
  display: block;
  font-size: 1.2rem;
  -webkit-appearance: none;
}

textarea{
  background-color: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  text-rendering: auto;
  user-select: text;
  cursor: auto;
}

.submit {
  margin-left: 5px;
}
